.container {
    display: flex;
    gap: 24px;
}

.categories {
    display: grid;
    grid-gap: 100px;
    gap: 64px;
    grid-template-columns: repeat(4, 1fr);
}

.page {
    width: 100%;
}

.page__title {
    margin-top: 0;
}
